[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glew"]
	path = libs/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "libs/sdl2"]
	path = libs/sdl2
	url = https://github.com/libsdl-org/SDL.git
